.project.light_mode {
    box-shadow: var(--light-raised-boxshadow);
}

.project.dark_mode {
    box-shadow: var(--dark-raised-boxshadow);
}

.project {
    border-radius: 15px;
    min-width: 250px;
    max-width: 350px;
    height: 100%;
    padding: .25rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.project.light_mode .project_content {
    background-color: var(--light-mode-background);
}

.project.dark_mode .project_content {
    background-color: var(--dark-mode-background);
}

.project_content {
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 3;
}

.project_border {
    position: absolute;
    z-index: 2;
    inset: 0;
}

.project_border {
    background-color: var(--palette-primary-color);
}

.project_border.favorite {
    background: linear-gradient(
        90deg,
        var(--palette-primary-color) 0%,
        var(--palette-secondary-color) 38%,
        var(--palette-tertiary-color) 42%,
        var(--palette-light-color) 46%,
        var(--palette-lightest-color) 50%,
        var(--palette-light-color) 54%,
        var(--palette-tertiary-color) 58%,
        var(--palette-secondary-color) 62%,
        var(--palette-primary-color) 100%
    );

    /* TODO: Figure out this animation in a way that doesn't break everything under it */
    /* animation: spinning-border 8s linear infinite; */
    /* -webkit-animation: spinning-border 8s linear infinite; */
    scale: 2.5;
}

.project_header {
    display: flex;
    margin: .5rem;
    justify-content: space-between;
}

.project_header h3 {
    margin: 0;
    padding-top: 4px;
    text-wrap: wrap;
}

.project_header div {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.project_header div a {
    color: inherit;
}

.project p {
    margin: 0 .5rem auto .5rem;
}

.project span {
    display: flex;
    flex-direction: row-reverse;
    margin: .5rem;
    gap: .5rem;
}

.project span img {
    width: 30px;
    height: 30px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {
    .project {
        min-width: 300px;
        height: calc(50% - .5rem);
    }
}

@media only screen and (min-width: 992px) {
    .project {
        min-width: 350px;
    }
} 

@media only screen and (min-height: 550px) {

}

@keyframes spinning-border {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}