.project.light_mode {
    box-shadow: var(--light-raised-boxshadow);
    /* background-color: var(--dark-mode-background); */
}

.project.dark_mode {
    box-shadow: var(--dark-raised-boxshadow);
    /* background-color: var(--light-mode-background); */
}

.project {
    border-radius: 15px;
    min-width: 250px;
    height: 100%;
    padding: .5rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.project.light_mode .project_content {
    background-color: var(--light-mode-background);
}

.project.dark_mode .project_content {
    background-color: var(--dark-mode-background);
}

.project_content {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 3;
}

.project_border {
    position: absolute;
    z-index: 2;
    inset: 0;
}

.project.light_mode .project_border {
    background-color: var(--dark-mode-background);
}

.project.dark_mode .project_border {
    background-color: var(--light-mode-background);
}

.project_border.favorite {
    background: linear-gradient(
        90deg,
        var(--palette-main-color) 0%,
        var(--palette-secondary-color) 38%,
        var(--palette-tertiary-color) 42%,
        var(--palette-light-color) 46%,
        var(--palette-lightest-color) 50%,
        var(--palette-light-color) 54%,
        var(--palette-tertiary-color) 58%,
        var(--palette-secondary-color) 62%,
        var(--palette-main-color) 100%
    );

    animation: spinning-border 8s linear infinite;
    -webkit-animation: spinning-border 8s linear infinite;
    scale: 2.5;
}

.project_header {
    display: flex;
    margin: .5rem;
    justify-content: space-between;
}

.project_header h3 {
    margin: 0;
    padding-top: 4px;
    height: 20px;
    text-wrap: wrap;
}

.project_header div {
    display: flex;
}

.project_header div img {
    margin: auto;
    width: 30px;
    height: 30px;
}

.project p {
    margin: 0 .5rem auto .5rem;
}

.project span {
    display: flex;
    flex-direction: row-reverse;
    margin: .25rem;
    gap: .25rem;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

    .project {
        min-width: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .project {
        min-width: 350px;
    }
} 

@media only screen and (min-height: 550px) {
    /* .project_header {
        margin: 1rem;
    }

    .project p {
        margin: 0 1rem auto 1rem;
    } */
}

@keyframes spinning-border {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}