.project {
    box-shadow: var(--light-raised-boxshadow);
    border-radius: 15px;
    min-width: 250px;
}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

    .project {
        min-width: 300px;
    }
}

@media only screen and (min-width: 992px) {
    .project {
        min-width: 350px;
    }
} 