.dark_mode_pitch {
    box-shadow: var(--dark-inset-boxshadow);
}

.light_mode_pitch {
    box-shadow: var(--light-inset-boxshadow);
}

.elevator_pitch {
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.elevator_pitch > p {
    margin: auto 10px;
}