

/* this really doesn't plan well for the need to overflow */
.blogs {
    padding: 1rem;
    height: 100%;
    gap: 1rem;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
}

.blogs.light_mode {
    box-shadow: var(--light-inset-boxshadow);
}

.blogs.dark_mode {
    box-shadow: var(--dark-inset-boxshadow);
}