

/* this really doesn't plan well for the need to overflow */
.blog_indentation {
    padding: 1rem;
    height: 100%;
    gap: 1rem;
    border-radius: 15px;

}

.blog_indentation.preview {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    /* flex-direction: column;
    flex-wrap: wrap; */
}

.blog_indentation.light_mode {
    box-shadow: var(--light-inset-boxshadow);
}

.blog_indentation.dark_mode {
    box-shadow: var(--dark-inset-boxshadow);
}