.page_section {
    height: calc(100vh - 69px - 2rem);
    margin: 0 1rem;
}

.dark_mode_content {
    box-shadow: var(--dark-raised-boxshadow);
}

.light_mode_content {
    box-shadow: var(--light-raised-boxshadow);
}

.content {
    padding: 1rem;
    border-radius: 15px;
    height: calc(100% - 52px - 2rem);
}

