.blog_preview {
    color: inherit;
    padding: 1rem;
    border-radius: 12px;
    cursor: pointer;

    /* temp for outer component styling */
    max-height: 160px;
    min-height: 160px;
    min-width: 250px;
    max-width: 250px;
}

.blog_preview.light_mode {
    border: solid var(--dark-mode-background) 2px;
    box-shadow: var(--light-raised-shadow-only);
}

.blog_preview.dark_mode {
    border: solid var(--light-mode-background) 2px;
    box-shadow: var(--dark-raised-shadow-only);
}

.blog_preview:hover {
    border: solid var(--palette-secondary-color) 2px;
}

.blog_preview:active {
    border: solid var(--palette-primary-color) 2px;
}

.blog_preview h3 {
    margin: 0;
}

.blog_preview:hover h3 {
    color: var(--palette-secondary-color);
    text-decoration: underline;
}

.blog_preview:active h3 {
    color: var(--palette-primary-color);
    text-decoration: underline;
}

.tags {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;

}

.tags p {
    background-color: var(--palette-primary-color);
    color: var(--light-mode-background);
    padding: .25rem .5rem;
    border-radius: 15px;
    font-size: small;
    margin: 0
}