.experiences {
    padding: 1rem;
    border-radius: 15px;
    box-shadow: inset 8px 8px 16px #b7c4c7, inset -8px -8px 16px #f7ffff;
}

.experienceDetails {
    padding: 1rem;
    border-radius: 15px;
}