.dark_mode_details {
    box-shadow: var(--dark-inset-boxshadow);
}

.light_mode_details {
    box-shadow: var(--light-inset-boxshadow);
}

.experience {
    padding: 1rem;
}

.experience_details {
    padding: 1rem;
    border-radius: 15px;
}