.dark_mode_nav {
    background-color: var(--dark-mode-background);
    box-shadow: 0 8px 16px #364241;
}

.light_mode_nav {
    background-color: var(--light-mode-background);
    box-shadow: 0 8px 16px #b7c4c7;
}

nav {
    list-style-type: none;
    display: flex;
    position: relative;
    flex-direction: row;
    position: fixed;
    width: 100vw;
}

nav::after {
    content: " ";
    height: 5px;
    position: absolute;
    width: 100%;
    background: linear-gradient(90deg, rgba(119,51,68,1) 0%, rgba(173,116,116,1) 12%, rgba(227,181,164,1) 24%, rgba(236,207,195,1) 36%, rgba(245,233,226,1) 50%, rgba(236,207,195,1) 62%, rgba(227,181,164,1) 74%, rgba(173,116,116,1) 86%, rgba(119,51,68,1) 100%);
    top: 64px;
}

.nav_logo,
.nav_item,
.socials {
    margin: 5px 1rem 10px 1rem;
}

.nav_logo {
    height: 54px;
    width: 54px;
}

.nav_item {
    text-decoration: none;
    padding: 1rem;
}

.nav_item:active {
    border-radius: 15px;
    background: #d7e7ea;
    box-shadow: inset 8px 8px 16px #b7c4c7, inset -8px -8px 16px #f7ffff;
}

.dark_mode_nav > .socials *,
.dark_mode_nav > .nav_item {
    color: var(--light-mode-background);
}

.light_mode_nav > .socials *,
.light_mode_nav > .nav_item {
    color: var(--dark-mode-background);
}

.socials {
    width: 10%;
    display: grid;
    padding: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-width: 4rem;
    margin-left: auto;
}

.socials * {
    text-decoration: none;
}
