.projects_desc {
    height: 33%;
    min-height: 65px;
}

.projects {
    box-shadow: var(--light-inset-boxshadow);;
    border-radius: 15px;
    height: 100%;
    display: grid;
    padding: 1rem;
    gap: 1rem;
    grid-template-rows: 1fr 1fr;
}

.project {
    box-shadow: var(--light-raised-boxshadow);
    border-radius: 15px;
}

@media only screen and (min-width: 600px) {
    .projects{
    }
}

@media only screen and (min-width: 768px) {
    .projects{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (min-width: 992px) {
    .projects{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
} 