.projects_desc {
    height: 33%;
    margin-top: 0;
}

.projects {
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    gap: 1rem;
    padding: 1rem;
    box-shadow: var(--light-inset-boxshadow);
    border-radius: 15px;
    overflow-x: auto;
    overflow-y: hidden;
}

.projects.light_mode {
    box-shadow: var(--light-inset-boxshadow);
}

.projects.dark_mode {
    box-shadow: var(--dark-inset-boxshadow);
}

.show_all_check {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;
}

/* Width */
@media only screen and (min-width: 600px) {
}

@media only screen and (min-width: 768px) {
    .projects_desc {
        height: 15%;
    }
}

@media only screen and (min-width: 992px) {
}

/* Height */
@media only screen and (min-height: 650px) and (min-width: 768px) {
    .projects {
        grid-template-rows: 1fr 1fr;
    }
}

@media only screen and (min-height: 500px) {
    .projects_desc {
        margin-top: 1rem;
    }
}
