*{
    box-sizing: border-box;
}

:root {
    /* Dark Mode */
    --dark-mode-background: #404e4d;

    --dark-rounded-background: linear-gradient(145deg, #445352, #3a4645);
    --dark-dipped-background: linear-gradient(145deg, #3a4645, #445352);

    --dark-raised-boxshadow: 8px 8px 16px #364241, -8px -8px 16px #4a5a59;
    --dark-inset-boxshadow: inset 8px 8px 16px #364241, inset -8px -8px 16px #4a5a59;

    /* Light Mode */
    --light-mode-background: #e7e7e7;

    --light-rounded-background: linear-gradient(145deg, #f7f7f7, #d0d0d0);
    --light-dipped-background: linear-gradient(145deg, #d0d0d0, #f7f7f7);

    --light-raised-boxshadow: 8px 8px 16px #b7c4c7, -8px -8px 16px #f7ffff;
    --light-inset-boxshadow: inset 8px 8px 16px #b7c4c7, inset -8px -8px 16px #f7ffff;

    /* 
        Color palette:
            main        #773344
            secondary   #AD7474
            tertiary    #E3B5A4
            light       #ECCFC3
            lightest    #F5E9E2
    */

}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
