.about_content {
    display: grid;
    height: 100%;
}

.elevator_pitch {
    padding: 1rem;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.elevator_pitch.dark_mode {
    box-shadow: var(--dark-inset-boxshadow);
}

.elevator_pitch.light_mode {
    box-shadow: var(--light-inset-boxshadow);
}

.tidbit {
    display: flex;
    justify-content: center;
}

.tidbit p {
    height: 20px !important;
    width: 250px;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .about_content {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
    }
}

@media only screen and (min-width: 600px) {
    .about_content {
        grid-template-columns: 1fr;
        grid-template-rows: 30% 70%;
    }
}

@media only screen and (min-width: 768px) {
    .about_content {
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
    }

    .elevator_pitch * {
        margin: auto 10px;
    }
}

@media only screen and (min-width: 992px) {
    .about_content {
        grid-template-columns: 1fr 1fr;
    }
} 